body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#ic-archives-floater {
	float: left;
    height: 50%;
    margin-bottom: -120px;
}

#list-container {
	height: 130px;
    /*position:relative;*/
}

#child-element {
    position: absolute;
	top: 50%;
	transform: translateY(-50%);

}

#item-app-icon {
    /*position: absolute;
    top: 50%;
    height: 240px;*/
    width: 40px;
    height: 40px;
    margin: 25px 0px 25px 10px /* negative half of the height */
}

#title {
    margin: 0.5cm 0cm 0.5cm 1cm
}

#list-ic {
    margin: 2cm 0cm 0cm 0cm
}

#list-title {
    margin: 0cm 0cm 0cm 2cm
}

#list-des {
    margin: -2cm 0cm 0cm 2cm;
    padding: 0cm 0cm 0.5cm 0cm;
    max-width: 300px;
    word-wrap:break-word
}

#ic-qr-code {
    margin : 0px 20px 30px 0px;
    position: relative;
}


#ic-archives-content {
    margin : 160px 0px 15px 0px;
    position: relative;
}

.div-inline{ display:inline}








