<!DOCTYPE html>
<html lang="en">
<head>
	<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><%=title %></title>

  <!-- CSS  -->
  <link href="/images/seedland-32.png" rel="icon" type="image/ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
</head>
<body>
	<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><!-- <img class="logo-center" src="images/ic_android_release.png" width="40px" height="40px"><a id="logo-container" href="#" class="brand-logo"><%=title %></a> -->
      <a href="" class="brand-logo left"><img class="logo-position " src="images/ic_android_release.png" width="40px" height="40px">&nbsp;&nbsp;&nbsp;&nbsp;<%= title %></a>
    </div>
  </nav>
<p>等等...</p>
</body>
</html>