<% data= 'index'; %>
<% include header.ejs %>
<main>
<script type="text/javascript">
  function downloadApp(){
  var u = navigator.userAgent;
  isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1;
  isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
  //三元运算
  // window.location.href = isAndroid? urls.android : isiOS? urls.ios : urls.other;
  //简化
  if (isAndroid){
    window.location.href = getAndroidUrl();
  } else if (isiOS){
    if (isWechat()) {
      Materialize.toast('请使用Safari浏览器下载', 2000);
    } else {
      window.location.href = getiOSUrl();
    }
  } else {
    Materialize.toast('请使用Android或iOS设备下载', 2000);
  }
}

function isWechat() {
      var ua = window.navigator.userAgent.toLowerCase();
      if (ua.match(/MicroMessenger/i) == 'micromessenger') {
          return true;
      } else {
          return false;
      }
  }


window.addEventListener('DOMContentLoaded', function () {                
                var el;
                if (/(Android)/i.test(navigator.userAgent) && isWechat()) {
                    el = document.getElementById('wechat-android');
                    el.style.display = 'block';
                    return;
                }
                if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent) && isWechat) {
                    el = document.getElementById('wechat-ios');
                    el.style.display = 'block';
                    return;
                }
                document.getElementById('nav-block').style.display = 'block';
                document.getElementById('android-block').style.display = 'block';
                document.getElementById('ios-block').style.display = 'block';

                // document.getElementById('modal1').style.display = 'block';
                // $('.modal').modal();
                // $(document).ready(function(){
                //   // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered

                // $('.modal').modal();
                // });
            });
</script>

<div id="android-block">
<ul class="collection with-header">
        <li class="collection-header"><h4>Android</h4></li>
        <% if(androidArchives.length>0) {%>     
        <% androidArchives.forEach(function(result){ %>
        <a href="http://localhost:3000/download/<%= result.name %>" class="collection-item"><%=result.name %> <span class="green badge"><%=result.type %></span></a>    
        <%})%>
        <%} else {%>
        <p>没有可下载apk</p>
        <%}%>
</ul>
</div>

<div id="ios-block">
<ul class="collection with-header">
        <li class="collection-header"><h4>iOS</h4></li>
        <% if(iosArchives.length>0) {%>     
        <% iosArchives.forEach(function(result){ %>
        <a href="http://localhost:3000/<%= result.name %>" class="collection-item"><%=result.name %> <span class="green badge"><%=result.type %></span></a>    
        <%})%>
        <%} else {%>
        <p>没有可下载ipa</p>
        <%}%>
</ul>
</div>


<div id="wechat-android">
    <div class="arrow"></div>
    <div class="clear"></div>
    <div class="hint">请点击右上角按钮，然后在弹出的菜单中选择「在浏览器打开」进入应用测试中心。</div>
    <div align="center"><img src="images/ic_android_release.png"></img></div>
</div>
<div id="wechat-ios">
    <div class="arrow"></div>
    <div class="clear"></div>
    <div class="hint">请点击右上角按钮，然后在弹出的菜单中选择「在Safari中打开」进入应用测试中心。</div>
    <div align="center"><img src="images/ic_android_release.png"></img></div>
</div>

</main>