<% data= 'index'; %>
<% include header.ejs %>
<div class="content-text">
<ul class="collection with-header">
        <li class="collection-header"><h4>Android</h4></li>
        <li class="collection-item">Release版</li>
        <li class="collection-item">Debug版</li>
</ul>
</div>
</br>
<div class="content-text">
<ul class="collection with-header">
        <li class="collection-header"><h4>iOS</h4></li>
        <li class="collection-item">Release版</li>
        <li class="collection-item">Debug版</li>
</ul>
</div>