<% data= 'iOS'; %>
<% include header.ejs %>
<main>
<script type="text/javascript">
  
function isWechat() {
      var ua = window.navigator.userAgent.toLowerCase();
      if (ua.match(/MicroMessenger/i) == 'micromessenger') {
          return true;
      } else {
          return false;
      }
  }

window.addEventListener('DOMContentLoaded', function () {                
                var el;
                if (/(Android)/i.test(navigator.userAgent) && isWechat()) {
                    el = document.getElementById('wechat-android');
                    el.style.display = 'block';
                    return;
                }
                if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent) && isWechat) {
                    el = document.getElementById('wechat-ios');
                    el.style.display = 'block';
                    return;
                }
                document.getElementById('nav-block').style.display = 'block';
                
            });
</script>
<% include list.ejs %>
</main>


