
	<div class="content-text">
		<div class="collection content-text">
  			
			<% if(archives.length>0) {%>     
        	<% archives.forEach(function(result){ %>
        		<a href="http://localhost:3000/<%= result.platform %>/<%= result.name %>" class="collection-item"><%=result.name %> <span class="green badge"><%=result.type %></span></a>    
        	<%})%>
        	<%} else {%>
        	<p>&nbsp&nbsp没有可下载版本</p>
        	<%}%>


		</div>
	</div>

