<!DOCTYPE html>
<html>
<head>
  <!--引入谷歌字体图标-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--引入 materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

  <!--让浏览器知道网站支持手机-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- CSS  -->
  <link href="/images/seedland-32.png" rel="icon" type="image/ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <title>应用测试中心</title>
</head>

<body>
  <!--在引入materialize.js之前引入jquery（很关键，materialize.js依赖jquery）-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>

  <main>
<script type="text/javascript">

function isWechat() {
      var ua = window.navigator.userAgent.toLowerCase();
      if (ua.match(/MicroMessenger/i) == 'micromessenger') {
          return true;
      } else {
          return false;
      }
  }

window.addEventListener('DOMContentLoaded', function () {                
                var el;
                if (/(Android)/i.test(navigator.userAgent) && isWechat()) {
                    el = document.getElementById('wechat-android');
                    el.style.display = 'block';
                    return;
                }
                if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent) && isWechat) {
                    el = document.getElementById('wechat-ios');
                    el.style.display = 'block';
                    return;
                }
                document.getElementById('nav-block').style.display = 'block';
                document.getElementById('android-block').style.display = 'block';
                document.getElementById('ios-block').style.display = 'block';
            });

$(document).ready(function(){
    // .modal-trigger类所在的a标签的href属性必须制定模态框的id才能被触发。
    $('.modal').modal({
        dismissible: false, // 点击模态外面模态消失关闭
        opacity: .5, // 相对于背景的不透明度
        in_duration: 300, // 显示特效的时间
        out_duration: 200, // 消失特效时间
        starting_top: '4%', // 启动时的样式属性
        ending_top: '10%', // 结束时的样式属性
        ready: function(modal, trigger) { // 模态加载完成触发事件
            // alert("Ready"); 
            console.log(modal, trigger);
        },
        complete: function() { 
            // alert('Closed'); 
        } // 关闭时触发的事件
    });
    $('#modal1').modal('open');
    // $('.open').on('click', function() {
    //     $('#modal1').modal('open');
    // });
    $('.close').on('click', function() {
        $('#modal1').modal('close');
    });
});

</script>

<div id="wechat-android">
    <div class="arrow"></div>
    <div class="clear"></div>
    <div class="hint">请点击右上角按钮，然后在弹出的菜单中选择「在浏览器打开」进入应用测试中心。</div>
    <div align="center"><img src="images/ic_android_release.png"></img></div>
</div>
<div id="wechat-ios">
    <div class="arrow"></div>
    <div class="clear"></div>
    <div class="hint">请点击右上角按钮，然后在弹出的菜单中选择「在Safari中打开」进入应用测试中心。</div>
    <div align="center"><img src="images/ic_android_release.png"></img></div>
</div>

 
 <form id="modal1" class="modal" action="/login" method="post">
          <div class="modal-content">
            <!-- <div>
            <label>Username:</label>
            <input type="text" name="username"/><br/>
            </div>
            <div>
            <label>Password:</label>
            <input type="password" name="password"/>
            </div> -->
            <div class="row">
            <div class="input-field col s12">
            <input id="username" type="text" name="username" class="validate">
            <label for="username">账号</label>
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">密码</label>
            </div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-red btn-flat ">取消</a>
          <input class="modal-action modal-close waves-effect waves-green btn-flat " type="submit" value="登录"/>
          </div>
          <!-- <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-red btn-flat ">取消</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat " type="button" >登录</a>
          </div> -->

           <!-- <form action="/login" method="post">
            <div>
            <label>Username:</label>
            <input type="text" name="username"/><br/>
            </div>
            <div>
            <label>Password:</label>
            <input type="password" name="password"/>
            </div>
            <div>
            <input type="submit" value="Submit"/>
            </div>
          </form> -->
  </form>

</main>
    
    <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
</body>
</html>

